

.sidebar {
    width: 360px;
    height: 100%;
    padding-top: 18px;

    .topBox {
        box-sizing: border-box;
        gap: 10px;
        width: 112.87px;
        height: 104.18px;
        margin-left: 64px;
        margin-bottom: 7.82px;
        position: relative;
    
        &::before {
            position: absolute;
            width: 100%;
            height: 100%;
            border: 1px solid #000;
            left: 0;
            top: 0;
            content: "";
            z-index: 0;
        }
    }
    
    .deposit-withdraw {
        padding: 0;

        hr {
            background: var(--White, #E5E5F3);
            width: 280px;
            height: 1px;
            margin: 0 auto;
        }

        .acc-balance {
            width: 231px;margin: 62px auto 0;display: flex;align-items: center;

            h4 {
                color: var(--Black, #0D0F52);
                font-family: proxima-nova, sans-serif;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 32px; /* 133.333% */
                margin: 0;
            }

            .balance-dv {
                flex-grow: 1;

                .account-dv {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;

                    h5 {
                        margin: 0;
                        color: var(--Black, #0D0F52);
                        font-family: proxima-nova, sans-serif;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px; /* 142.857% */
                    }
                }
            }
        }

        .note-dv {
            width: 232px;
            display: flex;
            margin: 40px auto 41px;
            gap: 12px;
            align-items: start;

            h3 {
                text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
                margin: 0;
                opacity: 0.5;
                color: var(--Black, #0D0F52);
                font-family: proxima-nova, sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0.14px;
            }
            
        }
    }

    .trust-dv {
        width: 195px;
        margin: 73.95px auto;
        .trust-image {
            width: 174.3px;
            margin: 0 auto 40px;
        }
    
        h3 {
            color: var(--Black, #0D0F52);
            text-align: center;
            font-family: proxima-nova, sans-serif;
            font-size: 17px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            margin: 0 0 28px;
        }
    
        p {
            color: var(--Black, #0D0F52);
            text-align: center;
            font-family: proxima-nova, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; 
            letter-spacing: 0.21px;
            opacity: 0.5;
            margin: 0;
        }
    }
    
}

.innerRoundedBox {
    box-sizing: border-box;
    background: radial-gradient(88.63% 1188.02% at 96.39% 8.75%, #2DA5FE 0%, #218AF5 100%);
    border: 0.620139px solid #2D91FE;
    box-shadow: 0px 19.8444px 16.1236px -12.4028px rgba(35, 120, 207, 0.25);
    border-radius: 9.92222px;
    padding: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    z-index: 1;

    h5 {
        font-family: proxima-nova, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 10.5424px;
        line-height: 15px;
        color: #FFFFFF;
        margin: 0;
    }
    h4 {
        font-family: proxima-nova, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18.6042px;
        line-height: 25px;
        color: #FFFFFF;
        margin: 0;
    }
    h6 {
        font-family: proxima-nova, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 8.68194px;
        line-height: 12px;
        letter-spacing: 0.015em;
        color: #FFFFFF;
        margin: 0;
    }
}

.btn-group {
    width: 232px;
    display: flex;
    margin: 40px auto;
    gap: 8px;

    .btn.btn-primary {
        border-radius: 42px;
        background: var(--Primary, #2D91FE);
        color: var(--White, #FFF);
        text-align: center;
        font-family: proxima-nova, sans-serif;
        font-size: 14px;
        font-weight: 600;
        height: 48px;
        text-transform: capitalize;
        min-width: 112px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn.btn-secondary {
        border-radius: 42px;
        border: 1px solid #E5E5F3;
        background: var(--White, #FFF);
        display: flex;
        padding: 14px 24px;
        align-items: center;
        min-width: 112px;
        height: 48px;
        color: var(--Black, #0D0F52);
        font-family: proxima-nova, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.14px;
        text-transform: capitalize;
    }
}

